SECRETS_PATH="This file's path"
SECRETS_REGEX="Regex that excludes all secret files from git and secret detectos" # Default = ".e*"
SECRETS_OUTFILE=".extremly-secret-reportfile"

TZ="Europe/Madrid"

#ruta donde van a ir los archivos renombrados por filebot
MEDIA="/mnt/storage/media"
#ruta donde se descargan los archivos del torrent antes de renombrarse
STORAGE="/mnt/storage"

# Samba
SAMBA_USER=""
SAMBA_PASSWORD=""

# Transmission

TRANSMISSION_PORT_UI="9091"

# Flexget

FLEXGET_PORT="5050"
FLEXGET_PASSWORD=""
